streamlit>=1.45.1
easyocr>=1.7.2
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
numpy>=1.23,<2.0
scikit-learn>=1.3.2
scipy
pandas
opencv-python
Pillow
openpyxl
opencv-python-headless>=4.5.5.64
openai>=1.0.0
python-dotenv
gspread>=5.8.0
google-auth>=2.20.0
python-dotenv